<ion-menu side="start" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item button (click)="logout()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        <ion-label>Cerrar sesión</ion-label>
      </ion-item>
      <ion-item button (click)="goToRecordatorio()">
        <ion-icon slot="start" name="clipboard-outline"></ion-icon>
        <ion-label>Registro de Actividades</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content id="main-content">
  <div class="container">
    <div class="header-content">
      <ion-img src="assets/Imagenes/Logo_DuocUC.svg.png" class="logo-header"></ion-img>
      <ion-menu-button class="logout-btn"></ion-menu-button>
    </div>

    <h1>Bienvenido {{ fullName }}</h1>

    <div class="current-subject">
      <h2>Clase actual:</h2>
      <p *ngIf="asignaturaActual">
        {{ asignaturaActual.nombre }} ({{ asignaturaActual.inicio }} - {{ asignaturaActual.fin }})
      </p>
      <p *ngIf="!asignaturaActual">No hay clases en este momento.</p>
    </div>

    <p>Selecciona una asignatura para ver más detalles:</p>

    <div class="card-container">
      <ion-card class="asignatura-card" *ngFor="let asignatura of asignaturas" (click)="viewAsignatura(asignatura)">
        <ion-card-header>
          <ion-card-title>{{ asignatura.nombre }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Haz clic para ver más detalles.</p>
        </ion-card-content>
      </ion-card>
    </div>

    <div *ngIf="activities.length > 0">
      <h2>Recordatorio de Actividades</h2>
      <ion-list>
        <ion-item *ngFor="let activity of activities">
          <ion-label>
            <h3>{{ activity.name }}</h3>
            <p>{{ activity.dateTime }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>