<ion-content>
  <div class="container">
    <!-- Botón para regresar -->
    <ion-button fill="clear" (click)="goBack()" class="back-button">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>

    <h2>Detalles de la Asignatura</h2>
    
    <!-- Mostrar el nombre y código de la asignatura -->
    <p>{{ asignatura.nombre }} ({{ asignatura.codigo }})</p>

    <!-- Botón para registrar asistencia -->
    <ion-button class="register-btn" (click)="startQRScanner()">Registrar Asistencia</ion-button>

    <!-- Contenedor para el escáner de QR -->
    <div id="qr-reader" style="width: 100%; margin-top: 20px;"></div>

    <div class="progress-container">
      <ion-label>Asistencia</ion-label>
      <!-- Barra de progreso de asistencia -->
      <ion-progress-bar [value]="attendanceProgress / 100" [color]="progressBarColor"></ion-progress-bar>
      <p>{{ attendanceProgress }}% de asistencia</p> 
    </div>
  </div>
</ion-content>