<div class="container">
  <div *ngIf="!isLoggedIn">
    <ion-img src="assets/Imagenes/Logo_DuocUC.svg.png" class="logo"></ion-img>

    <h1>Inicio de Sesión</h1>

    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input [(ngModel)]="username" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" [type]="showPassword ? 'text' : 'password'"></ion-input>
      <ion-icon name="eye" slot="end" (click)="togglePassword()"></ion-icon>
    </ion-item>

    <ion-button expand="full" (click)="login()">Ingresar</ion-button>
  </div>
</div>